RewriteEngine On

# Check if the requested resource exists as a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If not, redirect to index.php
RewriteRule ^(.*)$ public/index.php [QSA,L]